<div class="contato">
    <h2>Contato</h2>
    <p>Me conte um pouco mais sobre o que você precisa!</p>
    <div class="contato-box">

        <div class="contato-box-item">
            <a href="mailto:eu@lucaspascoal.com.br">
                <img src="../../assets/mail.svg" alt="">
                <h3>Email</h3>
                <span> eu@olucaspascoal.com</span>
            </a>
        </div>
        <div class="contato-box-item">
            <a href="https://www.instagram.com/olucaspascoal/" target="_blank">
                <img src="../../assets/instagram.svg" alt="">
                <h3>Instagram</h3>
                <span>@olucaspascoal</span>
            </a>
        </div>
        <div class="contato-box-item">
            <a href="tel:+5521970476119">
                <img src="../../assets/celular.svg" alt="">
                <h3>Celular</h3>
                <span>21 97047-6119</span>
            </a>
        </div>
        <div class="contato-box-item">
            <a href="https://www.linkedin.com/in/olucaspascoal/" target="_blank">
                <img src="../../assets/linkedin.svg" alt="">
                <h3>LinkedIn</h3>
                <span>/olucaspascoal</span>
            </a>
        </div>
    </div>
</div>