<div class="sobre">
    <h2>Sobre mim</h2>
    <div class="sobre-box">
        <div class="sobre-box-esq">
            <p>
                Eu sou o Lucas Pascoal, atualmente cursando o  {{this.semestreAtual}}º período de <b> Ciências da Computação. </b>
                Estagiário de <b> Transformação Digital </b>, onde desenvolvo landing pages e novas páginas dentro do site 
                intitucional da companhia para que o usuário tenha uma melhor experiência. 
            </p>  
            <p>
                Também sou entusiasta de <b> Python </b> e novas tecnologias no geral.

                Já trabalhei com desenvolvimento de jogos com foco em "Novas Tecnologias Digitais na Educação" no Núcleo de 
                Computação Aplicada, NUCAP, da minha faculdade. 
                
                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget magna neque. 
                Sed sit amet lacinia orci. Phasellus congue quam ut lorem tempus ultricies. Aenean 
                dignissim ipsum a quam suscipit dapibus. Donec sit amet facilisis elit. Fusce maximus 
                odio augue, id tempus magna molestie non. Aenean sit amet lobortis odio. 
                Maecenas ullamcorper, libero vitae lacinia cursus, nibh augue vulputate elit, 
                nec tincidunt sem nisi vestibulum turpis. Nunc condimentum scelerisque nisi, 
                a aliquet arcu iaculis quis. In sodales sem sed iaculis congue. Pellentesque non justo turpis.
                 Vivamus molestie id sapien et tincidunt. Nulla pharetra odio in est scelerisque, 
                 vitae sollicitudin purus placerat. Pellentesque mattis ex id massa tempor, sollicitudin lobortis metus lacinia. -->
            </p>
        </div>
        <div class="sobre-box-dir">
            <img src="../../assets/sobre.svg" alt="">
        </div>
    </div>
</div>