.menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-black);
}
.menu-esq a{
    color: var(--color-blue);
    text-decoration: none;
    font-size: 1.5rem;
}
.menu-dir ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-dir ul li{
    margin-left: 1rem;
}
.menu-dir ul li a{
    color: var(--color-white-1);
    text-decoration: none;
}
.menu-dir ul li a.active{
    color: var(--color-blue);
}

@media only screen and (max-width: 760px) {
    .menu-dir{
        display: none;
    }

}
