<div class="portfolio">
    <h2 class="portfolio-title">Portfólio</h2>
    <p class="portfolio-description">Veja os meus últimos projetos desenvolvidos</p>

    <div class="portfolio-box">
        <div class="linha">
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-item.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Título</h2>
                    <p>Tecnologias: HTML, CSS, JS</p>
                </div>
            </div>
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-item.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Título</h2>
                    <p>Tecnologias: HTML, CSS, JS</p>
                </div>
            </div>
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-item.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Título</h2>
                    <p>Tecnologias: HTML, CSS, JS</p>
                </div>
            </div>
        </div>
        <div class="linha">
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-item.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Título</h2>
                    <p>Tecnologias: HTML, CSS, JS</p>
                </div>
            </div>
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-item.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Título</h2>
                    <p>Tecnologias: HTML, CSS, JS</p>
                </div>
            </div>
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-item.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Título</h2>
                    <p>Tecnologias: HTML, CSS, JS</p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-vermais">
        <a href="https://github.com/olucaspascoal" target="_blank"> Ver mais projetos (GitHub) </a>
    </div>
</div>