<div class="portfolio">
    <h2 class="portfolio-title">Portfólio</h2>
    <p class="portfolio-description">Veja os meus últimos projetos desenvolvidos</p>

    <div class="portfolio-box">
        <div class="linha">
            <div class="portfolio-box-item">
                <a href="https://lp-natalanonovo.netlify.app/" target="_blank"> 
                    <div class="box-item-img">
                        <img src="../../assets/box-natal.png" alt="">
                    </div>
                    <div class="box-item-text">
                        <h2>Feliz Natal e Ano Novo</h2>
                        <p>Tecnologias: Angular, HTML, CSS, JS</p>
                    </div>
                </a>
            </div>
            <div class="portfolio-box-item">
                <a href="https://lp-lapizza.netlify.app/" target="_blank">
                    <div class="box-item-img">
                        <img src="../../assets/box-pizza.png" alt="">
                    </div>
                    <div class="box-item-text">
                        <h2>La Pizza</h2>
                        <p>Tecnologias: Angular, HTML, CSS, JS</p>
                    </div>
                </a>
            </div>
            <div class="portfolio-box-item">
                <a href="#" target="_blank"> 
                    <div class="box-item-img">
                        <img src="../../assets/box-bohr.png" alt="">
                    </div>
                    <div class="box-item-text">
                        <h2>Bohr | Sistema de Ensino</h2>
                        <p>Tecnologias: HTML, CSS, JS</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="linha second">
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-rachi.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Site Rachi</h2>
                    <p>Tecnologias: Angular, HTML, CSS, JS</p>
                </div>
            </div>
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-item.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Título</h2>
                    <p>Tecnologias: HTML, CSS, JS</p>
                </div>
            </div>
            <div class="portfolio-box-item">
                <div class="box-item-img">
                    <img src="../../assets/box-item.png" alt="">
                </div>
                <div class="box-item-text">
                    <h2>Título</h2>
                    <p>Tecnologias: HTML, CSS, JS</p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-vermais">
        <a href="https://github.com/olucaspascoal" target="_blank"> Ver mais projetos (GitHub) </a>
    </div>
</div>