@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

:root{
    --color-white:  #F9F9F9;
    --color-white-1:#EDEDED;
    --color-black:  #322D2D;
    --color-gray:   #828282;
    --color-blue:   #1EA0FF;
    --color-dark:   #433C3C;
}
* {  
    cursor: none;  
} 
body{  
    color: var(--color-white);
    margin: 0;
    overflow-x: hidden;  
    background-color: var(--color-black);
}

/* img{
    pointer-events: none;
} */


::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    border-radius: 15px;
    background: var(--color-black); 
}
::-webkit-scrollbar-thumb {
    background: var(--color-blue); 
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1A6DA9; 
}


.cursor {  
    top:  0;  
    left: 0;  
    z-index: 100;  
    height: 30px;  
    width:  30px;  
    position: absolute;  
    border-radius: 50px;  
    pointer-events: none;  
    transform: translate(-50%, -50%);  
}  
.cursor::after,  
.cursor::before {  
    content: "";  
    top:  50%;  
    left: 50%;  
    height: 10px;  
    width:  10px;  
    position: absolute;  
    border-radius: 50px;  
    transform: translate(-50%, -50%);  
    background-color: var(--color-blue);  
}  
.cursor::before {  
    background-color: var(--color-white);  
}  
.cursor.click::before {  
    animation: click 1s ease forwards;  
    background-color: var(--color-white);  
}  
@keyframes click {  
    0% {  
     opacity: 1;  
     transform: translate(-50%, -50%) scale(1);  
    }  
    100% {  
     opacity: 0;  
     transform: translate(-50%, -50%) scale(7);  
    }  
}  

@media only screen and (max-width: 760px){
    .cursor{
        display: none;
    }
}