@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

:root{
    --color-white:  #F9F9F9;
    --color-white-1:#EDEDED;
    --color-black:  #322D2D;
    --color-gray:   #828282;
    --color-blue:   #1EA0FF;
    --color-dark:   #433C3C;
}
* {  
    cursor: none;  
} 
body{  
    color: var(--color-white);
    margin: 0;
    overflow-x: hidden;  
    background-color: var(--color-black);
    /* pointer-events: none; */
}

img{
    /* pointer-events: none; */
}


::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: var(--color-black); 
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-blue); 
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1A6DA9; 
}


.cursor {  
    z-index: 100;  
    position: absolute;  
    top: 0;  
    left: 0;  
    /* border: 2px solid white; */  
    /* background-color: rgba(255, 255, 255, .356); */  
    height: 30px;  
    width: 30px;  
    border-radius: 50px;  
    transform: translate(-50%, -50%);  
    pointer-events: none;  
}  
.cursor::after,  
.cursor::before {  
    content: "";  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    background-color: var(--color-blue);  
    height: 10px;  
    width: 10px;  
    border-radius: 50px;  
}  
.cursor::before {  
    background-color: var(--color-white);  
}  
.cursor.click::before {  
    animation: click 1s ease forwards;  
    background-color: var(--color-white);  
}  
@keyframes click {  
    0% {  
     opacity: 1;  
     transform: translate(-50%, -50%) scale(1);  
    }  
    100% {  
     opacity: 0;  
     transform: translate(-50%, -50%) scale(7);  
    }  
}  