.inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5rem; */
    height: 90vh;
}
.inicio-esq h2{
    margin-block: 0;
    font-size: 3rem;
    font-weight: 500;
}
.inicio-esq p {
    font-family: 'DM Mono', monospace;
    letter-spacing: .3rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-gray);
}
.inicio-esq .inicio-btn{
    background-color: var(--color-blue);
    width: 5rem;
    padding: .7rem 2rem;
    border-radius: 1px;
    text-align: center;
}
.inicio-esq .inicio-btn:hover{
    cursor: pointer;
}

/* .inicio-dir{

} */
.inicio-dir img{
    height: auto;
    width: 90%;
}

@media only screen and (max-width: 760px) {
    .inicio{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
    .inicio-esq h2{
        font-size: 1.5rem;
    }
    .inicio-esq p{
        font-size: 1rem;
    }
    .inicio-dir{
        order: 1;
        margin-top: 1.5rem;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }
    .inicio-esq{
        order: 2;
        width: 100%;
    }
    .inicio-btn{
        margin: auto;
    }
}
